        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #0e0d2b;
            font-family: Arial, sans-serif;
            color: white;
        }

        main {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            margin-top: 6.3%;
            color: white;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
            background-color: #ffffff;
        }

        th, td {
            border: 1px solid #333;
            padding: 15px;
            text-align: center;
        }

        th {
            background-color: #222;
            color: white;
        }

        .price {
            font-weight: bold;
            font-size: 1.2em;
            color: black;
        }

        form {
            background-color: #0e0d2b;
            padding: 20px;
            border: 1px solid #ccc;
            margin-bottom: 2%;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input, textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            background-color: #12154b;
        }

        button {
            margin-top: 15px;
            padding: 10px;
            width: 100%;
        }

/*Header*/
        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 120px;
            background-color: #121038;
            display: flex;
            align-items: center;
            padding: 0 2rem;
            gap: 1rem;
            z-index: 100;
        }

        nav {
            margin-left: auto;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }

        a {
            color: white;
            font-weight: bold;
            text-decoration: none
        }

        .Logo img {
            width: 180px;
        }

        .ElementosHeader {
            width: 3vw;
            height: auto;
            min-width: 30px;
        }

        .ElementosContainer {
            display: flex;
            gap: 2vw;
            margin-left: 140px;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .NavBar {
            background-color: #12154b;
            padding: 8px 14px;
            border-radius: 15px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            white-space: nowrap;
        }

        /*Footer*/
        .Footer {
            background-color: #12154b;
            height: 25vh;
        }

        .Xarxes {
            background-color: #121038;
            position: relative;
            top: 7.5%;
            left: 5%;
            border: 1px solid aquamarine;  
            border-radius: 15px;
            height: 85%;
            width: 25%;
            padding: 2.5%;
        }

        .Xarxes div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: 100%;
        }

        .social-item {
            align-items: center;
            width: 30%;
            padding: 10px;
        }

        .social-item img {
            width: 40px;
            height: 40px;
            margin-top: 5px;
        }

        .Politiques {
            background-color: #121038;
            position: relative;
            top: -77%;
            left: 37%;
            border: 1px solid aquamarine;  
            border-radius: 15px;
            height: 85%;
            width: 25%;
            padding: 2.5%;
        }

        .Politiques div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: 100%;
        }

        .Formularis {
            background-color: #121038;
            position: relative;
            top: -162%;
            left: 69%;
            border: 1px solid aquamarine;  
            border-radius: 15px;
            height: 85%;
            width: 25%;
            padding: 2.5%;
        }

        .Formularis div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: 100%;
        }