/* ---------- HEADER ---------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(18 16 56);
  padding: 15px 30px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.MainPrincipal {
  margin-top: 122px;
  margin-left: 250px;
  flex: 1;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 16px;
}

nav {
  width: 675px;
  height: 40px;
  background-color: #E7E6EB;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 135px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.NavBar {
  accent-color: #1D1A3F;
  background-color: grey;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  margin-left: 1.8%;
}

/* ---------- LOGO Y ELEMENTOS ---------- */
.Logo {
  width: 182px;
  height: 100px;
  overflow: hidden;
}

.Logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.ElementosHeader {
  width: 70px;
  height: 50px;
  object-fit: contain;
}

/* ---------- ASIDE ---------- */
aside {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(18 16 56);
  width: 250px; 
  height: 100%;
}

.filtro {
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: aqua;
  position: absolute;
  top: 150px;
  width: 215px;
  height: 82%;
}

.FArmas{
  padding: 5px;
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: aqua;
  position: absolute;
  top: 10px;
  width: 170px;
  height: 225px;
  text-align: center;
}

.FRareza{
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: aqua;
  position: absolute;
  top: 36.5%;
  width: 180px;
  height: 100px;
  text-align: center;
}

.FElemento{
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: aqua;
  position: absolute;
  top: 55.5%;
  width: 180px;
  height: 350px;
  text-align: center;
}

/* ---------- BOTONES FILTRO ---------- */
.BotonFiltroArmas {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(18, 21, 75);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 6px;
    user-select: none;
    text-align: center;  
}

.BotonFiltroRareza {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(18, 21, 75);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 8px;
    user-select: none;
    text-align: center;  
}

.BotonFiltroElemento {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(18, 21, 75);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
    text-align: center;
}

/* Estado activo de botones */
.BotonFiltroArmas.active,
.BotonFiltroRareza.active,
.BotonFiltroElemento.active {
    background-color:aqua;
    color: black;
}

/* ---------- SECCION DE PERSONAJES ---------- */
section {
  position: relative;
  background-color: rgb(18 16 56);
  width: 95%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 20px;
}

/* ---------- PERSONAJES ---------- */
.star5,
.star4 {
  width: 100%;
  max-width: 105px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 5px;
}

.star5 {
  background-color: goldenrod;
}

.star4 {
  background-color: violet;
}

.Videos {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-left: 10.1%;
}

footer {
  margin-left: 250px;
  background-color: #121038;
  color: white;
  padding: 40px, 20px;
}

.ContenedorFootter {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.ColumnasFooter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ColumnasFooter h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: aqua;
}

.ColumnasFooter a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.ColumnasFooter a:hover {
  color: white;
}

.Durin {
  background-color:#121038;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  min-height: 100vh;

  padding: 1.5rem;
}  

.ImagenesLayoutFiveStar{
  max-width: 200px;
  background-color: goldenrod;

  position: relative;
  transform: translate(20px, 145px);
  border-radius: 15px;
}

.ImagenesLayoutFiveStar img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0, auto;
  border-radius: 15px;
}

.Lore {
  max-width: 160px;
  background-color: rgb(18, 21, 75);

  position: relative;
  transform: translate(20px, 160px);
  height: 375px;
  display: block;

  border-radius: 15px;
  border-color: aquamarine;
  border-width: 1px;
  border-style: solid;
}

.TextoLore {
  font-size: large;
  color: white;
  margin-top: 0;
}

.InfoElemento {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 5rem;

  position: relative;
  transform: translate(10px, 5px);
}

.InfoArma {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 5rem;
  
  position: relative;
  transform: translate(-83px, 60px);
}

.InfoConstelacion {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 8rem;
  margin-left: 2rem;
  
  position: relative;
  transform: translate(-65px, 30px);  
}

.InfoFaccion {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 35rem;
  
  position: relative;
  transform: translate(0px, 6px);  
}

.InfoDominio {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 35rem;
  
  position: relative;
  transform: translate(362.5px, 20px);  
}  

.TextoInfo {
  font-size: large;
  color: white;
  margin: 0;
  padding: 0.2rem;
}


.InfoPersonaje {
  max-width: 1000px;
  background-color: rgb(18 16 56);
  text-align: left;

  position: relative;
  transform: translate(270px, -536px);
  height: 100px;
  display: block;

  border-radius: 15px;
  border-color: aquamarine;
  border-width: 1px;
  border-style: solid; 
}

.Equipos {
  max-width: 1000px;
  height: 453px;
  background-color: rgb(18 16 56);
  color: white;
  
  border-radius: 15px;
  border: 1px solid aquamarine;

  margin: -540px 0 0 270px;
}

.Formacion1 {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 60.5rem;
  height: 4rem;
  
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-right: 50px;
}

.Formacion2 {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 60.5rem;
  height: 4rem;
  
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-right: 50px;

  position: relative;
  margin-top: 6rem;
  margin-left: -64.8rem;
}

.Formacion3 {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 60.5rem;
  height: 4rem;
  
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-right: 50px;

  position: relative;
  margin-top: 12rem;
  margin-left: -65.4rem;
}

.Formacion4 {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 60.5rem;
  height: 4rem;
  
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-right: 50px;

  position: relative;
  margin-top: 18rem;
  margin-left: -66rem;
}

.Formacion5 {
  display: inline-block;
  padding: 5px 5px;
  background-color: rgb(18, 21, 75);
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 60.5rem;
  height: 4rem;
  
  position: relative;
  margin-top: 24rem;
  margin-left: -66.7rem;

  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-right: 50px;
}

.PJCirculo {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: aquamarine;
  margin-bottom: 5px;
  border-width: 1px;
}
